<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <style>
        /* Reset CSS básico */
        body,
        h1,
        h2,
        h3,
        p,
        ul,
        li {
            margin: 0;
            padding: 0;
        }

        /* Estilos para o corpo da página */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
        }

        /* Estilos para a navbar */
        .navbar {
            background-color: #333;
            overflow: hidden;
        }

        .navbar a {
            float: left;
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        .navbar a:hover {
            background-color: #ddd;
            color: black;
        }

        /* Estilos para o conteúdo da página */
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            width: 90%;
            max-width: 800px;
            margin: 20px auto;
        }

        h1 {
            margin-top: 2em;
            margin-left:24em;
            margin-bottom:2em;
        }

        /* Estilos para tabelas */
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .button {
            background-color: #007bff;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;
        }
    #button {
            background-color: #57d508;
            color: white;
            border: none;
            padding: 5px 10px;
            border-radius: 3px;
            cursor: pointer;
        }
        button:hover {
            background-color: #0056b3;
        }
    </style>
</head>

<body>
    <div class="navbar">
        <a href="/admin">Home</a>
        <a href="/adicionar_livro">Adicionar Livros</a>
        <a href="/administrar">Administrar</a>
        <a href="/"><b style="color:red">Logout</b></a>
    </div>
<h1>Painel de Administração</h1>
    <div class="container">
        
        <h2>Lista de Usuários</h2>
        <table>
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Email</th>
                    <th>Ações</th>

                </tr>
            </thead>
            <tbody>
                {{#each usuarios}}
                <tr>
                    <td>{{nome}}</td>
                    <td>{{email}}</td>
                    <td><button class="button" onclick="excluirUsuario('{{id}}')">Excluir</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="container">
        <h2>Lista de Livros</h2>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Ano</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each livro}}
                <tr>
                    <td>{{titulo}}</td>
                    <td>{{ano}}</td>
                    <td><button class="button" onclick="excluirLivro('{{id}}')">Excluir</button>
<a href="/editarLivro/{{id}}"> <button id="button">Editar</button></a></td>   
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <script>
        async function excluirUsuario(id) {
            const confirmed = confirm("Tem certeza que deseja excluir este usuário?");
            if (!confirmed) {
                return;
            }

            try {
                const response = await fetch(`/excluir_usuario/${id}`, {
                    method: 'DELETE'
                });

                if (response.ok) {
                    // Atualize a página ou realize alguma ação após a exclusão
                    location.reload();
                } else {
                    console.error('Erro ao excluir usuário');
                }
            } catch (error) {
                console.error(error);
            }
        }
    </script>

    <script>
        async function excluirLivro(id) {
            const confirmed = confirm("Tem certeza que deseja excluir este livro?");
            if (!confirmed) {
                return;
            }

            try {
                const response = await fetch(`/excluir_livro/${id}`, {
                    method: 'DELETE'
                });

                if (response.ok) {
                    // Atualize a página ou realize alguma ação após a exclusão
                    location.reload();
                } else {
                    console.error('Erro ao excluir livro');
                }
            } catch (error) {
                console.error(error);
            }
        }
        
    </script>
</body>

</html>